.card-container {
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 24px;
}

.container-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.card-entry-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.card-entry {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.professor-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.did-research-value {
  color: #555;
}

.subject-value {
  color: black;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-button {
  border: 2px solid black;
  border-radius: 25px;
}

.contact-button:hover {
  background-color: white;
  transform: translateY(-2px); 
}

.school-selection-buttons-container {
  border: none;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: 10px;
  margin-bottom: 10px;
}

.subject-selection-buttons-container {
  border: none;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: 10px;
}

.param-button {
  white-space: nowrap;     
  height: 20px;    
  width: 250px;           
  font-size: 12px;
  border-radius: 20px;             
}

.param-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

